@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Kdam+Thmor+Pro&family=PT+Serif&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:link{text-decoration: none;}
.navbar-brand{position:absolute;margin-left:20px;}
*{box-sizing: border-box}
.navbar-toggler{border:none;}
.navicon{
    font-size:30px;
}
.nav-item{
    width: 100%;
    border-bottom: 0.3px solid gray;
}
.nav-link{
    font-weight: 700;
    text-shadow: 1px 1px 1px crimson;
}
.nav-link:hover{color: #eee;}
.nav-item:hover{background-color: #ecb723;border: none;}
/*dark light mod ------------------------*/
body.dark-mode .b-box{
    background-color: #111;
    color:#eee;
}
a {
    color:#111;
}
button {
    background-color: #eee;
    color:#111;
} 
body.light-mode {
    background-color: #eee;
    color: #111;
}
a {
    color: #111;
}
button {
    background-color: #111;
    color: #eee;
}
.balo button {
    width: 30px;
    height:30px;
    background:none;
    border-radius: 50%;
    margin: 0;
    padding: 0;
   border:none;
}
.balo #light{
    font-size:30px;
    color:gray;
    cursor: pointer;
    transition:0.3s;
}
/* swiper ------------------------------------*/
.swiper {
    width: 100%;
    height: 30vh;
    margin-top: 50px;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }
.swiper-slide {
    width: 100%;
    height: 30vh;
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .b-box{
    margin-top:12px; 
    background-color:#eee;
    padding:2em 0 2em 0;
}
.m-box{
    position:relative;
    height:15em;
    border-radius:4px;
    margin-bottom:8px;
    background-color:white;
    cursor:pointer;
    box-shadow:0 4px 6px -1px rgb(0 0 0 / 0.1), 0 -2px 4px -2px rgb(0 0 0 / 0.1); 
}
.m-box img{
    width: 100%;
    height: 10rem;
    padding-top:5px;
    position:absolute;
}
.m-box span{
    display:flex;
    justify-content:center;
    align-items:center;
    width:20px;
    height:20px;
    background-color:gold;
    border-radius:50%;
    position:absolute;
    margin:5px;
}
.m-box ion-icon{
    color:gray;
    
}
.titl{
    position: absolute;
    text-align: center; 
    width: 100%; 
    height: 5em;
    bottom:0;
}
.titl p{
    font-size:14px;
    font-weight:600;
    margin: 0;
    color:rgb(11, 116, 158);
}
.titl b{
    position: absolute;
    font-size: 15px;
    font-weight: 700;
    color: rgb(5, 73, 100);
    bottom: 5px;
}
.titl ion-icon{color: rgb(187, 141, 14);}
/* button group --------------------------------------*/
.group-btn{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:8px;
}
.group-btn button{
    width: 6rem;
    height: 45px;
    background-color: #DCDCDC;
    border-radius:12px;
    border: none;
    color: black;
    font-weight:800;
    margin:0 3px 0 3px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 -2px 4px -2px rgb(0 0 0 / 0.1);
    transition: 0.5s ease;
}
.group-btn button:nth-child(1){
    width:5rem;
}
.group-btn button:hover{
    background-color:gold;
}
.group-btn span{
    display:flex;
    justify-content:center;
    align-items:center;
    width:3em;
    height:3em;
    background-color:#DCDCDC;
    border-radius:50%;
}
.group-btn input{
   display:none;
   outline:none;
   border:none;
   border-radius:12px;
   position:absolute;
}
.group-btn span:hover input {
   display:block;
   width:90%;
   height:50px;
   left:10px;
   z-index:100;
   
}
/*  slider  ----------------------*/
.horizontal-scroll{
   width: 100%;
   height: 140px;
   scroll-behavior: smooth;
   padding-bottom: 10px;
   text-align: center;
   white-space: nowrap;
   overflow-x: auto;
   overflow-y: hidden;
   }
   .card1{
   width: 130px;
   height: 90%;
   border-radius: 10px;
   display: inline-block;
   margin:0 2px 0;
   transition: 0.3s;
   margin-top:10px;
   }
   .card1 #inner{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   }
   .card1 img{
   width: 80px;
   height: 80px;
   margin-bottom: 18px;
   border-radius:50%;
   cursor: pointer;
   }
   .card1 h3{
   margin: 0;
   font-size: 17px;
   color: #555;
   }
   .card1 a{
   margin-top: 5px;
   font-size: 14px;
   }
   #inner{
   width: 90%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   }
   ::-webkit-scrollbar{
   width: 5px;
   height: 3px;
   }
   ::-webkit-scrollbar-track{
   background: #fff;
   }
   ::-webkit-scrollbar-thumb{
   background: coral;
   border-radius:5px;
   }
 /* footer  -------------------------------*/
footer{
    position: relative;
    width:100%;
    text-align:center;
    background-color:white;
    padding-bottom: 2rem;
}
.cont h5{
    font-weight: 800;
}
.cont h5 b{
    font-weight: 900;
    color: #e62c9b;
}
.cont span{
    position: absolute;
    width: 60px;
    height: 4px;
    background-color: rgb(216, 15, 206);
    left: 45%;
}
.cont h4{
    color: #0c10eb;
    font-weight: 800;
    font-size: 20px;
    margin-top: 20px;
    font-family: cursive;
}
.cont b{
    color: #0ceb2a;
}
.cont p{
    margin-top: 20px;
    font-weight: 400;
}
 /*----------------- شاي أعشاب ______*/
.box-the{
position:relative;
height:8em;
border-radius:4px;
margin-bottom:8px;
background-color:white;
box-shadow:0 4px 6px -1px rgb(0 0 0 / 0.1), 0 -2px 4px -2px rgb(0 0 0 / 0.1); 
}
.box-the img{
    width: 105%;
    height: 100%;
    margin:0;
}
.titl-the{
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    margin-left: 20px;
}
.titl-the b{
    position:absolute;
    bottom:5px;
    right:3px;
    background-color:rgb(124, 121, 114);
    border:1px solid gray;
    border-radius:25px;
    width:80px;
    height:30px;
    padding:0 5px;
}
.titl-the h4{
    color:rgb(235, 182, 10);
    font-weight:900;
    font-family:cursive;
    text-align:right;
    margin-right:10px;
}
.modal-body img{
    width: 100%;
}
.modal-body p{
    color: rgb(7, 44, 112);
    font-weight: 800;
}
.mune-flex{
    display:flex;
    justify-content: space-around;
    align-items:center;
    position:fixed;
    bottom:0;
    width:100%;
    height:3rem;
    background-color:white;
    box-shadow:0 4px 6px -1px rgb(0 0 0 / 0.1), 0 -2px 4px -2px rgb(0 0 0 / 0.1); 
    
}
.mune-flex span a{
    display:flex;
    justify-content:center;
    align-items:center;
    width:40px;
    height:40px;
    background-color:#DCDCDC;
    border-radius:50%;
    color:black; 
    box-shadow:0 4px 6px -1px rgb(0 0 0 / 0.1), 0 -2px 4px -2px rgb(0 0 0 / 0.1); 
}
.mune-flex span ion-icon{
    font-size:25px;
}
.mune-flex span:nth-child(1) a{
    background-color:#d29c02;
}
.mune-flex span:nth-child(2) ion-icon{
    background-color:rgb(63, 221, 233);
    border-radius:50%;
    width:40px;
    height:40px;
}
.mune-flex span:nth-child(3) a{
    background-color:#0ceb2a;
}
.mune-flex span:nth-child(4) a{
	background-color: #e62c9b;
}
.mune-flex span:hover a,.mune-flex span:hover ion-icon a{
	background-color:rgb(235, 27, 113);
	transform:translateY(-20px);
    color: white;
}
/*  oils   --------------------------------------------------------------------------*/
/* .oil{
    
} */
.oil img{
    width: 50%;
}
.photo img{
    width: 100%;
    height: 15rem;
    border-radius: 8px;
}
/* box th  ---------------------------------------------------*/
.box-th{
    position: relative;
    /* background-color: #c00d0d; */
    width: 100%;
    height: 15rem;
    border-radius: 10px; 
}
.b-th-min{
    position: relative;
    width: 100%;
    height: 13em;
    /* background-color: #0c10eb; */
}
.b-th-min img{
    position: absolute;
    width: 100%;
    height: 13em;
    border-radius: 10px;
}
.text-th{
    display: flex;
    justify-content: center;
    align-items:center;
    margin:0 auto;
    width: 100%;
    height: 13em;
}
.b-th-min h2{
    z-index: 100;
    color: #eee;
    font-family: 'DynaPuff', cursive;
}
.b-th-min h2 span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border: 2px solid tomato;
    border-radius: 8px;
}
.b-th-min h2 span:hover{
    background-color: tomato;
    border: 2px solid white;
    transition: 0.7s ease-in-out all;
}
.titl-th,.titl-th-oin,.titl-th-tow{
    display: flex;
    justify-content:space-between;
    font-family: 'Dosis', sans-serif;
    font-weight:900;
    text-shadow:2px 1px 1px gold;
}
.titl-th-oin,.titl-th-tow{
	color:red;
	width:60px;
}
.titl-th-oin ion-icon ,.titl-th-tow ion-icon {
	color:rgb(163, 7, 111);
	font-size:20px;
}
/* المزيد من الاختيارات  */
.ext {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3em;
}
.ext button{
    border-radius: 8px;
    background-color: crimson;
    border: none;
}
.ext button a{
    color: white;
    font-weight: 600;
    margin: 0 4px;
}
